/* configuration for colors and other default values. to use with tailwind use [--option] */

:root {
    --border-width: 2px;
    --navbar-width: 220px;
    --navbar-padding-y: 14rem;
    --navbar-padding-x: 1rem;
    --section-ml: 10%;
    --black: #4a4545;
    --white: #e3e3da;
    --primary-normal: #4686a1;
    --primary-focus: #3b8ea5ff;
    --secondary-normal: #f5ee9eff;
    --secondary-focus: #f49e4cff;
}
