---
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Experience">
    <Section title="Experience">
        <h2 class="mb-2 text-[--primary-normal] text-2xl">Work Experience</h2>
        <img class="object-scale-down w-48 mt-4 mb-2" src="albertsons.svg" alt="">
        <p>Albertsons Deli Clerk 2021-2022</p>
        <h2 class="mt-4 mb-2 text-[--primary-normal] text-2xl">Programming Projects</h2>
        <ul class="ml-4">
            <li><a class="underline" href="https://github.com/rhellwege/Mazer">Mazer - CLI Maze generator</a></li>
            <li><a class="underline" href="https://github.com/rhellwege/Synnim">Synnim - Digital Synthesizer</a></li>
            <li><a class="underline" href="https://github.com/rhellwege/netris">Netris - Tetris Clone writtern in Nim</a></li>
        </ul>
    </Section>
</MainLayout>
