---
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
    <!-- <main class="scroll-smooth"> -->
        <!-- <ul class="overflow-auto bg-[--white] md:ml-[--navbar-width] fixed w-full h-full text-[--black]"> -->
        <!-- </ul> -->
    <!-- </main> -->
</MainLayout>

