---
import VerticalNav from "../components/VerticalNav.astro";
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";

const sections = [
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "Home", description: "" },
    { title: "About me", description: "Student at fullerton" }
];
---

<MainLayout title="Portfolio">
    <main class="scroll-smooth">
        <VerticalNav {sections} />
        <div class="bg-[--secondary-bg-color] md:ml-[--navbar-width] text-[--primary-color]">
            {sections.map(section => (<Section {section} />))}
            <h1>Hello</h1>
        </div>
    </main>
</MainLayout>
