---
import VerticalNav from "../components/VerticalNav.astro";
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";

const section_titles = [
    {title: "About Me", img: "user-circle.svg"},
    {title: "Experience", img: "briefcase.svg"}, 
    {title: "Skills", img: "target.svg"}
];
---

<MainLayout title="Portfolio">
    <main class="scroll-smooth">
        <VerticalNav sections={section_titles} />
        <ul class="bg-[--white] md:ml-[--navbar-width] fixed w-full h-full text-[--black]">
            <Section title="About Me">
                <h2></h2>
                <p>hello</p>
                <img src="" alt="">
            </Section>
            <Section title="Experience">
                <h2></h2>
                <p>hello</p>
                <img src="" alt="">
            </Section>
            <Section title="Skills">
                <h2></h2>
                <p>hello</p>
                <img src="" alt="">
            </Section>
        </ul>
    </main>
</MainLayout>

<style>
@media (min-width: 768px) {
    ul {
        width: calc(100% - var(--navbar-width));
    }
}
</style>
