---
import Section from "../components/Section.astro";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Skills">
    <Section title="Skills">
        <h2 class="mb-2 text-[--primary-normal] text-2xl">Programming Languages</h2>
        <ul class="list-disc ml-10">
            <li>Javascript / Typescript</li>
            <li>HTML / CSS</li>
            <li>C / C++</li>
            <li>Python</li>
            <li>Nim</li>
        </ul>
        <h2 class="my-2 text-[--primary-normal] text-2xl">Soft Skills</h2>
        <ul class="list-disc ml-10">
            <li>Fast problem solving.</li>
            <li>Willing to lead, and communication skills.</li>
            <li>Good work ethic.</li>
        </ul>
    </Section>
</MainLayout>
