---
interface Link {
    content: string;
    href: string;
};

interface Props {
    links: Link[];
};

const { links } = Astro.props;
// hack to fix tailwind not being able to generate css if the classname is partial in the sourcefile
---

<ul class="fixed m-0 p-0 w-[--navbar-width] h-full bg-[--main-bg-color]">
    {links.map(l => (<li><a href={l.href}>{l.content}</a></li>))}
</ul>
