---
interface Props {
    links: string[];
};

const { links } = Astro.props;
---

<nav class="flex">
    {links.map(link => (
        <div class="flex-auto duration-200 h-14 bg-rose-900 bg-gradient-to-r from-rose-300">
            <div class="duration-200 h-12 bg-blue-700 hover:bg-slate-700">
                <a class="px-9">{link}</a>
            </div>
        </div>
    ))}
</nav>
