---
interface Section {
    title: string;
    description: string;
};

interface Props {
    section: Section;
};

const { section } = Astro.props;
const { title, description } = section;
---

<div class="ml-[--section-ml]">
    <a id={title}></a>
    <h1 class="text-2xl">{title}</h1>
    <p>{description}</p>
    <div>
        <slot />
    </div>
</div>
