---
interface Props {
    title: string;
};

const { title } = Astro.props;
---

<div class="p-1 rounded-xl border-[--border-color] border-0 md:border-2 w-full h-full">
    <h1 transition:name=`title-${title.toLowerCase()}` class="p-2 text-3xl font-bold">{title}</h1>
    <hr class="h-[2px] my-3 bg-[--black] border-0 ">
    <div transition:animate="slide" class="text-lg text-[--primary-color] p-5">
        <slot />
    </div>
</div>
