---
interface Props {
    title: string;
};

const { title } = Astro.props;
---

<div class="ml-[--section-ml]">
    <a id={title}></a>
    <h1 class="text-2xl">{title}</h1>
    <div class="text-md text-[--primary-color]">
        <slot />
    </div>
</div>
