---
interface Props {
    sections: string[];
};

const { sections } = Astro.props;
// hack to fix tailwind not being able to generate css if the classname is partial in the sourcefile
---
<!-- do not show this when the device is small -->
<nav class="">
    <div class="invisible md:visible bg-[--secondary-bg-color] w-[--navbar-width] h-full fixed p-0 m-0">
        <ul class="h-full px-[--navbar-padding-x] py-[--navbar-padding-y] overflow-auto flex flex-col">
            {sections.map(s => (
                <li class="flex-auto ">
                    <div class="hover:bg-[--focused-color] duration-150 text-center skew-x-[-20deg]
                                py-3 mx-3 rounded-lg bg-[--primary-bg-color] border-[--border-color] border-2">
                        <a class="skew-x-[20deg] text-white" href={`#${s}`}>{s}</a>
                    </div>
                </li>)
            )}
        </ul>
    </div>
</nav>
