---
export interface SectionTitle {
    title: string;
    img: string;
};
interface Props {
    sections: SectionTitle[];
};

const { sections } = Astro.props;
// hack to fix tailwind not being able to generate css if the classname is partial in the sourcefile
---
<!-- do not show this when the device is small -->
<nav class="">
    <div class="invisible md:visible bg-[--black] w-[--navbar-width] h-full fixed p-0 m-0">
        <ul class="h-full px-[--navbar-padding-x] py-[--navbar-padding-y] overflow-auto flex flex-col space-y-10">
            {sections.map(s => (
                <li class="my-auto flex-auto ">
                    <a class="" href={`#${s.title}`}>
                        <div class="text-[--primary-normal] hover:text-[--primary-focused] duration-150 text-center p-3 mx-3 rounded-lg 
                                    bg-[--white] border-[--secondary-normal] hover:border-[--secondary-focused] border-2 flex justify-between text-lg">
                            <p>{s.title}</p>
                            <img src={s.img} alt="">
                        </div>
                    </a>
                </li>)
            )}
            <li class="my-auto">
                <a class="" href="resume.pdf">
                    <div class="text-[--primary-normal] hover:text-[--primary-focused] duration-150 text-center p-3 mx-3 rounded-lg 
                                bg-[--white] border-[--secondary-normal] hover:border-[--secondary-focused] border-2 flex justify-between text-lg">
                        <p>Download</p>
                        <img src="download.svg" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
